<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel='stylesheet' href='/css/bootstrap.css'/>
    <title>Kurwa spring</title>
</head>
<style>
</style>
<body>

<div>
    <form action="/Home2">
        First name:<br/>
        <input type="text" name="firstname" value="Mickey"/>
        <br/>
        <input type="submit" value="Submit" style="btn btn-primary"/>
    </form>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>